*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #00569d;
}

header{
    width: 100%;
    height: 10.5vh;
    background-color: #008dc0;
    display: flex;
    position:fixed;
    margin-top: -10.5vh;
}

.logo img{
    width: 20vw;
    height:9vh;
    border-radius: 50%;
    margin-top: 0.7vh;
    margin-left: 2vw;
}

.divBusca{
    border-radius: 10px 10px;
    background-color:#ffffff;
    border:solid 3px #000000;
    width:60vw;
    height:4vh;
    margin-top: 2.8vh;
    margin-left: 2vw;
    display: flex;
  }

  .txtBusca{
    display: flex;
    background-color:transparent;
    padding-left: 2%;
    font-size: 1.1rem;
    border:none;
    height:4vh;
    width:48vw;
    color: #000000;
  }

  .imgbusca{ 
    display: flex;
    height:4vh;
    width: 11vw;
    background-color:transparent;
    margin-right: 4vw;
    border:none;
  }

  .imgbusca img{
    height:3vh;
    width: 20vw;
    margin-top: 0.5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .pontos3{
    width: 8.5vw;
    height: 3.3vh;
    margin-top: 3.5vh;
    margin-left: 3vw;
  }
  .pontos3 img{
    width: 8.5vw;
    height: 3.3vh;
  }

  .ngrupo{
    text-align: center;
    color: #ffffff;
    margin-top: 1vh;
  }

  main{
    margin-top: 10.5vh;
    height:164vh;
  }

  #criar{
    margin-left: 35vw;
    margin-top: 2vh;
    border-radius: 15px 15px;
    width:30vw;
    height: 5.5vh;
    font-size: 1.5rem;
    color: #fff;
    background-color: #003a88;
    border: solid 2px #000;
  }

  .grupo{
    border:solid 2px #000000;
    margin-top: 3vh;
    margin-left: 4.5vw;
    text-align: center;
    width: 90vw;
    background-color: #003a88;
    height: 20vh;
    border-radius: 15px 15px;
    color: #fff;
  }

  .ajeita{
    display: flex;
  }
  .descricao{
    border:solid 2px #000;
    width: 55vw;
    height: 12vh;
    background-color: #00216d;
    border-radius: 15px 15px;
    margin-top: 1.5vh;
    margin-left: 4.5vw;
  }

  .entrar{
    margin-left: 5vw;
    background-color: #008dc0;
    border:solid 2px #000;
    width: 20vw;
    height: 5vh;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px 10px;
    margin-top:5vh;
  }

  .rodape{
    margin-top: 5vh;
    width:100%;
    height:2vh;
    background-color: #86beda;
  }
  .rodape2{
    width:100%;
    height:5vh;
    background-color: #3e77b6;
  }